---
---
// https://styleguide.design.dev.aws.mskcc.org/assets/fonts/gotham-400-299e9ca606232b303d774724dc648995.woff2

:root {
  // font families
  --title: "Barlow", sans-serif;
  --heading: "Barlow", sans-serif;
  --body: "Barlow", sans-serif;
  --code: "Roboto Mono", monospace;

  // font sizes
  --medium: 1rem;
  --large: 1.2rem;
  --xl: 1.4rem;
  --xxl: 1.6rem;

  // font weights
  --thin: 200;
  --regular: 400;
  --semi-bold: 500;
  --bold: 600;

  // text line spacing
  --spacing: 2;

  // effects
  --rounded: 3px;
  --shadow: 0 0 10px 0 var(--overlay);

  // colors
  --msk-navy: #002569;
  --msk-blue: #0073E0;
  --msk-blue-medium: #70BCFF;
  --msk-teal: #78E2DA;
  --msk-light-blue: #C2E3FF;
  --msk-light-gray: #FBF9F7;

  // fonts
  --msk-font: "MSK Sans Web";
  --msk-bold: "MSK Sans Web Bold";
}

// colors
[data-dark="false"] {
  --primary: #0ea5e9;
  --secondary: #7dd3fc;
  --text: #000000;
  --background: #000000cc;
  --background-alt: #fafafa;
  --light-gray: #e0e0e0;
  --gray: #808080;
  --overlay: #00000020;
}
[data-dark="true"] {
  --primary: #0ea5e9;
  --secondary: #075985;
  --text: #ffffff;
  --background: #000000cc;
  --background-alt: #1c1c1c;
  --light-gray: #404040;
  --gray: #808080;
  --overlay: #ffffff10;
}
